force-app/main/default/flows/Log_An_Inventory_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Departure_Allocation_Quantity</name>
        <label>Assign Departure Allocation Quantity</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Allocation.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDepartureAllocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Departure_Allocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Destination_Allocation_Quantity</name>
        <label>Assign Destination Allocation Quantity</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Get_destination_allocation.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDestinationAllocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Destination_Allocation_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_0</name>
        <label>Assign values</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InventoryLog.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventoryItem.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryLog.Departure_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DepartureLocation.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryLog.Destination_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DestinationLocation.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryLog.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_validity_of_request</name>
        <label>Determine validity of request</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Not_Enough_inventory_to_transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enough</defaultConnectorLabel>
        <rules>
            <name>Enough</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Allocation.Quantity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_destination_allocation</targetReference>
            </connector>
            <label>Enough</label>
        </rules>
    </decisions>
    <description>Log an inventory transfer!</description>
    <formulas>
        <name>NewDepartureAllocation</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_Allocation.Quantity__c}-{!Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewDestinationAllocation</name>
        <dataType>Number</dataType>
        <expression>{!Get_destination_allocation.Quantity__c}+{!Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Log Your Inventory Transfer!</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Log An Inventory Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Departure_Allocation_Quantity</targetReference>
        </connector>
        <inputReference>InventoryLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Allocation</name>
        <label>Get Current Allocation</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_validity_of_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DepartureLocation.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InventoryItem.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Allocation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_destination_allocation</name>
        <label>Get destination allocation</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InventoryItem.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinationLocation.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Allocation__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Departure_Allocation</name>
        <label>Update Departure Allocation</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Destination_Allocation_Quantity</targetReference>
        </connector>
        <inputReference>Get_Current_Allocation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Destination_Allocation_Quantity</name>
        <label>Update Destination Allocation Quantity</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>Get_destination_allocation</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Inventory_Transfer_Log</name>
        <label>Inventory Transfer Log</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_Allocation</targetReference>
        </connector>
        <fields>
            <name>DepartureLocation</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Departure_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Departure Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Inventory_Log__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DestinationLocation</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Destination_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Destination Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Inventory_Log__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>InventoryItem</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Asset__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inventory Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Inventory_Log__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Enough_inventory_to_transfer</name>
        <label>Not Enough inventory to transfer</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Enough</name>
            <fieldText>&lt;p&gt;Even though you requested {!Quantity} units of {!Get_Current_Allocation.Asset__r.Inventory_Item_Name__c} to be transferred, there is currently only {!Get_Current_Allocation.Quantity__c} units available at that location. Please review transfers and attempt transfer again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Congratulation! The log has been entered and allocations have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inventory_Transfer_Log</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InventoryLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Log__c</objectType>
    </variables>
</Flow>
